:root {
  --link-color: #ffffff;
  --link-color-hover: #ff6c00;
  --social-link-color: #000000;
  --heading-font-family: "Raleway", sans-serif;
  --text-font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
}

* {
  font-family: var(--text-font-family);
}

.global-header {
  background-color: #808080;
}

.global-header .nav-menu a,
.global-header .nav-menu a:visited {
  color: var(--link-color);
  font-weight: 600;
}

ul {
  list-style-type: none;
}

.global-header .nav-menu {
  list-style-type: none;
}

.global-header .nav-menu a:hover {
  color: var(--link-color-hover);
  cursor: pointer;
}

a {
  text-decoration: none;
}
.social-links-section a,
.social-links-section a:visited {
  color: var(--social-link-color);
  font-weight: 600;
}

.hero-section .hero-title {
  color: var(--link-color);
}

.hero-section {
  background-color: #808080;
}

.button-service {
  background-color: transparent;
  text-transform: uppercase;
  border-color: var(--link-color-hover);
  border-radius: 15px;
  border-width: 1px;
  color: var(--link-color);
  line-height: 16px;
  font-size: 12px;
  padding: 12px;
}
